<div
  class="border border-[#8458A6] flex flex-col bg-homeCard rounded-2xl p-[35px] shadow-lg hover:scale-[1.02] transition-transform duration-300 text-white min-w-[400px] max-w-[450px] min-h-[230px]"
>
  <section class="flex items-center gap-3">
    <mat-icon>{{ data.icon }}</mat-icon>
    <span class="font-bold text-[24px]">{{ data.tittle }}</span>
  </section>
  <span class="text-[13px] mt-2">{{ data.subtitle }}</span>
  <span class="text-[13px] mt-7">
    {{ data.description }}
  </span>
</div>
